<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
                {{ full.title }}
              {% endblock %}
            </title>
</head>
<body>
<h2>{{ full.title }}</h2>
<p>{{ full.Body }}</p>

</body>
</html>