<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>{% block title %}
                My Blog
              {% endblock %}
            </title>
    </head>
<body>
{% block content %}
    <h1>My Blog</h1>
    {% for post in posts %}

        <h2>  <a href="details/{{ post.slug }}"> {{ post.title }}</a></h2>
        <p class="date"> Published on {{ post.created }} by {{ post.author }}    </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
{% endblock %}
</body>
</html>


